@model WebApplication1.Models.Score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.PlayerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
