@model WebApplication1.Models.PlayerViewModel

@{
    ViewBag.Title = "Create";
    int playerNum = 1;
}

<h2> @Session["GameName"]</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
 
       @for (int i = 0; i < (Convert.ToInt32(Session["NumOfPlayers"])); i++)
       {
            @Html.HiddenFor(m => m.PlayerName)
           <div class="form-group">
            @Html.LabelFor(m => m.PlayerName, "Player #" + playerNum + "'s Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.PlayerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        playerNum++;
       }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
